/* BACKGROUND */
.modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* MODAL */
  .modal {
    display: flex;
    flex-direction: column;
    font-family: "Righteous";
    background: rgba(247,240,228,255);
    min-width: 400px;
    /* min-width: 400px;AJUSTAR */
    border: 3px solid #ffcc65;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    animation: fadeIn 0.3s ease;
  }
  
  /* Animación de entrada */
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  /* Cabecera del modal */
  .modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fffffa;
    color: #9b9b9b;
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid #ffcc65;
    position: relative;
  }

  /* Botón de cierre */
  .close-btn {
    position: absolute;
    top: -3px;
    right: -3px;
    display: grid;
    align-content: center;
    border: 1px solid #ffcc65;
    border-radius: 99%;
    height: 22px;
    width: 22px;
    background: #ffcc65;
    background: linear-gradient(145deg, #ffcc65, #f5bc4a);
    color: #fffffa;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  .close-btn:hover {
    transform: scale(1.1);
  }
  
  /* Cuerpo del modal */
  .modal-body
  {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    color: #333;
  }
  
  /* Pie del modal */
  .modal-footer {
    padding: 10px;
    text-align: right;
    border-top: 1px solid #ffcc65;
  }
  
  .btn {
    /* background: #ffefd6; */
    font-family: "Righteous";
    background: linear-gradient(145deg, #7eb9f3, #4da6ff);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
    color: #fff;
    border: none;
    padding: 7px 15px;
    border-radius: 15px;
    border: 2px solid #ffcc65;
    cursor: pointer;
    transition: background 0.3s;
  }
  .btn:hover {
    background: #0056b3;
  }


  @media (max-width: 1024px) and (orientation: landscape) {
    .modal {
      max-height: 90dvh;
    }

    
  }