.logs{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.character
{
    display: inline;
    font-family: "Righteous";
    border: #f0e0cf solid 2px;
    border-radius: 15px;
    background-color: #ffbb5e;
    -webkit-text-stroke: rgb(255, 115, 0) 1px;
    color: white;
    padding: 0.1rem 0.8rem;
}

.text
{
    color: #5c5c5c;
    margin: 5px ;
}